#load-api{
    margin-top: 50px;
    float: left;
    position: relative;
    display: none;
    width: 100%;
}

#search-text-input{
    width: 250px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}